//
// Overlay

$opacity: (
  10: .1,
  20: .2,
  30: .3,
  40: .4,
  50: .5,
  60: .6,
  70: .7,
  80: .8,
  90: .9
);

@each $key, $val in $opacity {
  .overlay-#{$key}{
    z-index: 1;
    position: relative;

    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: -1;
      opacity: #{$val};
      background: #000;
      position: absolute;
    }
  }
}

.overlay{
  position: relative;

  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1;
    content: '';
    background: #000;
    position: absolute;
  }
}
