h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1rem;
  line-height: 1.5;
}

body{
  color: $black;
  font-size: 1em;
  line-height: 2;
  font-weight: 400;
  font-family: Arial, sans-serif;
}

b, strong, .bold{
  font-weight: bold;
}

em, .italic{
  font-style: italic;
}

mark, .mark{
  padding: .2em .5em;
  border-radius: 2px;
  background-color: #fcf8e3;
}

del, .delete{
  text-decoration: line-through;
}

h1, .h1 {
  font-size: 2em;

  @each $breakpoint, $size in (md: 2.5em, lg: 3em) {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $size;
    }
  }
}

h2, .h2 {
  font-size: 1.625em;

  @each $breakpoint, $size in (md: 2em, lg: 2.25em) {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $size;
    }
  }
}

h3, .h3 {
  font-size: 1.375em;

  @each $breakpoint, $size in (md: 1.5em, lg: 1.75em) {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $size;
    }
  }
}

h4, .h4 { font-size: 1.125em; }
h5, .h5 { font-size: 1em; }
h6, .h6 { font-size: .8em; }

a{
  color: $blue;
  text-decoration: none;

  &:hover, &:focus{
    color: darken($blue, 10%);
    text-decoration: none;
  }
}

p{
  margin-bottom: 1rem;
}

small, .small{
  font-size: 12px;
}
