.modal{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  position: fixed;
  overflow-y: auto;
  background: fade_out($black, .3);
}

.modal-close{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: pointer;
  position: absolute;
}