.navbar{
  display: flex;
  align-items: center;
  box-shadow: 0 18px 0 -15px fade_out(#000, .95);

  .container, .container-fluid{
    display: inherit;
    align-items: inherit;
  }

  .navbar-group{
    display: flex;
  }
}
