//
// Overlay

$opacity: (
  10: .1,
  20: .2,
  30: .3,
  40: .4,
  50: .5,
  60: .6,
  70: .7,
  80: .8,
  90: .9
);

$colors: (
  primary: $blue,
  primary-dark: $blue-dark,
  danger: $red,
  danger-dark: $red-dark,
  warning: $yellow,
  warning-dark: $yellow-dark,
  success: $green,
  success-dark: $green-dark,
  info: $cyan,
  info-dark: $cyan-dark,
  white: $white,
  darker: $darker,
  dark: $dark,
  light: $light,
  lighter: $lighter,
  black: #212121
);

@each $prop, $abb in $opacity {
  .overlay-#{$prop}{
    &:before {
      opacity: #{$abb} !important;
    }
  }
}

@each $prop, $abb in $colors {
  .overlay-#{$prop}{
    &:before {
      background: #{$abb} !important;
    }
  }
}

.overlay, [class*="overlay-"]{
  position: relative;

  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1;
    content: '';
    position: absolute;
    background: fade_out(#000, .5);
  }
}
