//
// Ratio

@include media-target(r-1x1) { padding-bottom: 100%; }
@include media-target(r-5x4) { padding-bottom: 80%; }
@include media-target(r-4x3) { padding-bottom: 75%; }
@include media-target(r-3x2) { padding-bottom: 66.67%; }
@include media-target(r-16x10) { padding-bottom: 62.5%; }
@include media-target(r-16x9) { padding-bottom: 56.25%; }
@include media-target(r-21x9) { padding-bottom: 42.86%; }

[class^="r-"], [class*=" r-"] {
  width: 100%;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
}
