$static: false !default;

$white: #ffffff !default;

$blue-light: #689eee !default;
$blue: #5995ed !default;
$blue-dark: #5188d8 !default;

$red-light: #e97c60 !default;
$red: #e76f51 !default;
$red-dark: #d2654a !default;

$yellow-light: #f4bd6e !default;
$yellow: #f3b760 !default;
$yellow-dark: #dda758 !default;

$green-light: #89bd8a !default;
$green: #7eb77f !default;
$green-dark: #73a774 !default;

$cyan: #7dbfec !default;
$cyan: #70b9eb !default;
$cyan-dark: #66a9d6 !default;

$muted: #6C757D !default;
$darker: #2C343F !default;
$dark: #3E4A59 !default;
$light: #98AEE2 !default;
$lighter: #f4f5f9 !default;
$black: #333333 !default;

$font-family-base: Verdana, sans-serif !default;

$font-size-base: 1rem !default;
$line-height-base: 1em !default;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 750px,
  lg: 990px,
  xl: 1470px
) !default;

$container-max-widths: (
  sm: 480px,
  md: 720px,
  lg: 960px,
  xl: 1440px
) !default;

$spacer: 15px;
$grid-columns: 12;
