$static: false !default;

$white: #ffffff !default;

$blue-light: #689eee !default;
$blue: #5995ed !default;
$blue-dark: #5188d8 !default;

$red-light: #f37e8a !default;
$red: #F24F54 !default;
$red-dark: #dc6874 !default;

$yellow-light: #f37755 !default;
$yellow: #F26A44 !default;
$yellow-dark: #dc613e !default;

$green-light: #8bc089 !default;
$green: #80ba7e !default;
$green-dark: #75aa73 !default;

$cyan: #67b2b4 !default;
$cyan: #54a9ab !default;
$cyan-dark: #419fa2 !default;

$muted: #6C757D !default;
$darker: #2C343F !default;
$dark: #3E4A59 !default;
$light: #c7d3db !default;
$lighter: #ecf0f3 !default;
$black: #333333 !default;

$font-family-base: Verdana, sans-serif !default;

$font-size-base: 1rem !default;
$line-height-base: 1em !default;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 750px,
  lg: 990px,
  xl: 1470px
) !default;

$container-max-widths: (
  sm: 480px,
  md: 720px,
  lg: 960px,
  xl: 1440px
) !default;

$spacer: 15px;
$grid-columns: 12;
