//
// Align

$aligns: baseline, top, middle, bottom, text-bottom, text-top;

@each $align in $aligns {
  @include media-target(align-#{$align}) { vertical-align: $align; }
}

.align-baseline{ vertical-align: baseline; }
.align-top{ vertical-align: top; }
.align-middle{ vertical-align: middle; }
.align-bottom{ vertical-align: bottom; }
.align-text-bottom{ vertical-align: text-bottom; }
.align-text-top{ vertical-align: text-top; }