.bg-primary{ background: $primary; }
.bg-danger{ background: $danger; }
.bg-warning{ background: $warning; }
.bg-success{ background: $success; }
.bg-info{ background: $info; }
.bg-white{ background: $white; }
.bg-muted{ background: $muted; }
.bg-darker{ background: $darker; }
.bg-dark{ background: $dark; }
.bg-light{ background: $light; }
.bg-lighter{ background: $lighter; }

.bg-image{
  background-size: cover;
  background-position: center;
}

.bg-fixed{
  background-attachment: fixed;
}