$colors: (
  primary: $blue,
  danger: $red,
  warning: $yellow,
  success: $green,
  info: $cyan,
  white: $white,
  muted: $muted,
  darker: $darker,
  dark: $dark,
  light: $light,
  lighter: $lighter
);

.bg-primary{ background: $blue; }
.bg-danger{ background: $red; }
.bg-warning{ background: $yellow; }
.bg-success{ background: $green; }
.bg-info{ background: $cyan; }
.bg-white{ background: $white; }
.bg-muted{ background: $muted; }
.bg-darker{ background: $darker; }
.bg-dark{ background: $dark; }
.bg-light{ background: $light; }
.bg-lighter{ background: $lighter; }

.bg-image{
  background-size: cover;
  background-position: center;
}

.bg-fixed{
  background-attachment: fixed;
}

@each $color, $value in $colors {
  .bg-#{$color} { background: $value; }
}