//
// Border

.border         { border: $border-width solid $border-color; }
.border-top     { border-top: $border-width solid $border-color; }
.border-right   { border-right: $border-width solid $border-color; }
.border-bottom  { border-bottom: $border-width solid $border-color; }
.border-left    { border-left: $border-width solid $border-color; }

.border-0        { border: 0; }
.border-top-0    { border-top: 0; }
.border-right-0  { border-right: 0; }
.border-bottom-0 { border-bottom: 0; }
.border-left-0   { border-left: 0; }

.border-white { border-color: $white; }
.border-primary { border-color: $primary; }
.border-danger { border-color: $danger; }
.border-warning { border-color: $warning; }
.border-success { border-color: $success; }
.border-info { border-color: $info; }
.border-dark { border-color: $dark; }
.border-black { border-color: $black; }

//
// Border-radius

.rounded-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.rounded-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.rounded-bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rounded-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rounded-top-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.rounded-right-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rounded-bottom-0 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.rounded-left-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded { border-radius: 5px !important; }
.rounded-full { border-radius: 50% !important; }
.rounded-0 { border-radius: 0 !important; }
