//
// Buttons

.btn{
  border: none;
  height: 40px;
  color: $muted;
  cursor: pointer;
  max-width: 100%;
  min-width: 40px;
  font-size: 14px;
  transition: .3s;
  font-weight: 600;
  overflow: hidden;
  box-shadow: none;
  background: none;
  user-select: none;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
  font-family: inherit;
  display: inline-block;
  padding-left: $spacer;
  vertical-align: unset;
  padding-right: $spacer;
  text-overflow: ellipsis;

  &:hover, &:focus{
    color: $black;
  }

  i{
    width: 16px;
    text-align: center;
    line-height: unset;

    &.float-right{
      float: right;
      margin-left: $spacer;
    }

    &.float-left{
      float: left;
      margin-right: $spacer;
    }
  }
}

.btn-rounded{ border-radius: 50px; }

//
// Button sizes

.btn-lg{
  height: 50px;
  min-width: 50px;
  font-size: 16px;
  line-height: 50px;
  padding-left: $spacer + 5px;
  padding-right: $spacer + 5px;

  i{
    width: 18px;

    &.float-right{ margin-left: $spacer + 5px; }
    &.float-left{ margin-right: $spacer + 5px; }
  }
}

.btn-sm{
  height: 30px;
  min-width: 30px;
  font-size: 12px;
  line-height: 30px;
  padding-left: $spacer;
  padding-right: $spacer;

  i{
    width: 14px;

    &.float-right{ margin-left: $spacer; }
    &.float-left{ margin-right: $spacer; }
  }
}

.btn-xs{
  height: 24px;
  min-width: 24px;
  font-size: 10px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: $spacer - 5px;
  padding-right: $spacer - 5px;

  i{
    width: 10px;

    &.float-right{ margin-left: $spacer - 5px; }
    &.float-left{ margin-right: $spacer - 5px; }
  }
}

//
// Button colors

.btn-primary{
  background: $primary;
  color: fade_out($white, .1);

  &:hover, &:focus { color: $white; background: $primary-dark; }
  &:active { box-shadow: 0 0 10px fade_out($primary, .5); }
}

.btn-warning{
  background: $warning;
  color: fade_out($white, .1);

  &:hover, &:focus { color: $white; background: $warning-dark; }
  &:active { box-shadow: 0 0 10px fade_out($warning, .5); }
}

.btn-success{
  background: $success;
  color: fade_out($white, .1);

  &:hover, &:focus { color: $white; background: $success-dark; }
  &:active { box-shadow: 0 0 10px fade_out($success, .5); }
}

.btn-info{
  background: $info;
  color: fade_out($white, .1);

  &:hover, &:focus { color: $white; background: $info-dark; }
  &:active { box-shadow: 0 0 10px fade_out($info, .5); }
}

.btn-danger{
  background: $danger;
  color: fade_out($white, .1);

  &:hover, &:focus { color: $white; background: $danger-dark; }
  &:active { box-shadow: 0 0 10px fade_out($danger, .5); }
}

.btn-light{
  background: $lighter;
  color: fade_out($dark, .1);

  &:hover, &:focus { color: $dark; background: $light; }
  &:active { box-shadow: 0 0 10px fade_out($lighter, .5); }
}

.btn-muted{
  background: $muted;
  color: fade_out($white, .1);

  &:hover, &:focus { color: $white; background: #636b72; }
  &:active { box-shadow: 0 0 10px fade_out($muted, .5); }
}

.btn-dark{
  background: $dark;
  color: fade_out($white, .1);

  &:hover, &:focus { color: $white; background: $darker; }
  &:active { box-shadow: 0 0 10px fade_out($dark, .5); }
}

.btn-white{
  background: $white;
  color: fade_out($dark, .1);

  &:hover, &:focus { color: $dark; background: $lighter; }
  &:active { box-shadow: 0 0 10px fade_out($white, .5); }
}

// --------------------------------------------------------------------

.btn{

  &.text-primary{
    &:hover, &:focus { color: $primary-dark }
  }

  &.text-warning{
    &:hover, &:focus { color: $warning-dark; }
  }

  &.text-success{
    &:hover, &:focus { color: $success-dark; }
  }

  &.text-info{
    &:hover, &:focus { color: $info-dark; }
  }

  &.text-danger{
    &:hover, &:focus { color: $danger-dark; }
  }

  &.text-light{
    &:hover, &:focus { color: $light; }
  }

  &.text-dark{
    &:hover, &:focus { color: $darker; }
  }
}
