.form-group{
  position: relative;
  margin-bottom: $spacer;
  background: transparent;

  .form-label{
    display: block;
    font-size: 14px;
    transition: .3s;
    font-weight: 600;
  }

  .form-help{
    opacity: .5;
    display: block;
    font-size: 12px;
    margin-top: 4px;
    transition: .3s;
    font-weight: 600;
    text-align: right;
  }
}

.form-input{
  width: 100%;
  color: $dark;
  border: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: unset;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background: $lighter;
  transition: color .3s, border .3s,  background .3s;

  &:not(textarea){
    height: 40px;
  }

  &:focus{
    outline: none;
    background: #dedfe3;
  }

  &.bg-white{
    color: $muted;
    background: $white;

    &:focus{
      background: fade_out($white, .2);
    }
  }

  &.bg-primary{
    color: $primary;
    background: fade_out($primary, .9);

    &:focus{
      background: fade_out($primary, .8);
    }
  }

  &.bg-info{
    color: $info;
    background: fade_out($info, .9);

    &:focus{
      background: fade_out($info, .8);
    }
  }

  &.bg-danger{
    color: $danger;
    background: fade_out($danger, .9);

    &:focus{
      background: fade_out($danger, .8);
    }
  }

  &.bg-warning{
    color: $warning;
    background: fade_out($warning, .9);

    &:focus{
      background: fade_out($warning, .8);
    }
  }

  &.bg-success{
    color: $success;
    background: fade_out($success, .9);

    &:focus{
      background: fade_out($success, .8);
    }
  }

  &.bg-dark{
    color: $lighter;
    background: fade_out($dark, .2);

    &:focus{
      background: fade_out($dark, .3);
    }
  }
}

textarea.form-input{
  resize: vertical;
  min-height: 40px;
  padding-top: 10px;
  font-family: inherit;
  padding-bottom: 10px;
}

.input-wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: stretch;
}
