//
// Position

$positions: relative, absolute;

.p-relative{ position: relative; }
.p-absolute{ position: absolute; }
.p-fixed{ position: fixed; }

@include media-target(p-relative) { position: relative; }
@include media-target(p-absolute) { position: absolute; }
@include media-target(p-fixed) { position: fixed; }

.fixed-top, .fixed-bottom {
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
}

@include media-target(fixed-top) {
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
}
@include media-target(fixed-bottom) {
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
}

.fixed-top { top: 0; }
.fixed-bottom { bottom: 0; }

.sticky-top, .sticky-bottom {
  @supports (position: sticky) {
    z-index: 100;
    position: sticky;
  }
}

@include media-target(sticky-top) {
  @supports (position: sticky) {
    z-index: 100;
    position: sticky;
  }
}
@include media-target(sticky-bottom) {
  @supports (position: sticky) {
    z-index: 100;
    position: sticky;
  }
}

.sticky-top {
  @supports (position: sticky) { top: 0; }
}

.sticky-bottom {
  @supports (position: sticky) { bottom: 0; }
}

@each $pos in $positions {
  @include media-target(p-#{$pos}) { position: $pos; }
}