//
// Text

$aligns: left , right , center, justify;

@each $align in $aligns {
  @include media-target(text-#{$align}) { text-align: $align; }
}

.text-nowrap { white-space: nowrap; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

$colors: (
  primary: $blue,
  danger: $red,
  warning: $yellow,
  success: $green,
  info: $cyan,
  white: $white,
  darker: $darker,
  dark: $dark,
  light: $light,
  lighter: $lighter,
  black: #212121
);

@each $color, $value in $colors {

  .text-#{$color} { color: $value; }

  a.text-#{$color} {
    &:hover, &:focus { color: darken($value, 10%); }
  }
}

.text-muted { opacity: .6 }

a.text-muted{
  &:hover, &:focus { opacity: .9 }
}

.text-hide { color: transparent !important; }

.no-select { user-select: none; }

