//
// Text

$aligns: left, right, center, justify;

.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }
.text-justify{ text-align: justify; }

@each $align in $aligns {
  @include media-target(text-#{$align}) { text-align: $align; }
}

.text-nowrap { white-space: nowrap; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.text-primary { color: $primary; }

a.text-primary {
  &:hover, &:focus { color: $primary-dark; }
}

.text-danger { color: $danger; }

a.text-danger {
  &:hover, &:focus { color: $danger-dark; }
}

.text-warning { color: $warning; }

a.text-warning {
  &:hover, &:focus { color: $warning-dark; }
}

.text-success { color: $success; }

a.text-success {
  &:hover, &:focus { color: $success-dark; }
}

.text-info { color: $info; }

a.text-info {
  &:hover, &:focus { color: $info-dark; }
}

.text-white { color: $white; }

a.text-white {
  &:hover, &:focus { color: $lighter; }
}

.text-darker { color: $darker; }

a.text-darker {
  &:hover, &:focus { color: $dark; }
}

.text-dark { color: $dark; }

a.text-dark {
  &:hover, &:focus { color: $darker; }
}

.text-light { color: $light; }

a.text-light {
  &:hover, &:focus { color: $lighter; }
}

.text-lighter { color: $lighter; }

a.text-lighter {
  &:hover, &:focus { color: $light; }
}

.text-black { color: $black; }

a.text-black {
  &:hover, &:focus { color: $darker; }
}

.text-muted { opacity: .6 }

a.text-muted{
  &:hover, &:focus { opacity: .9 }
}