h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1rem;
  line-height: 1.5;
}

body{
  color: $black;
  font-size: 1em;
  line-height: 2;
  font-weight: 400;
  font-family: Arial, sans-serif;
}

b, strong, .strong, .font-bold{
  font-weight: bold;
}

.font-lighter{ font-weight: lighter; }
.font-normal{ font-weight: normal; }

em, .em .italic{
  font-style: italic;
}

u, .u .underline{
  text-decoration: underline;
}

mark, .mark{
  line-height: 1;
  padding: .2em .5em;
  border-radius: 2px;
  display: inline-block;
  background-color: #fcf8e3;
}

code, .code{
  line-height: 1;
  padding: .2em .5em;
  border-radius: 2px;
  display: inline-block;
  background: fade_out($red, .9);
  border: 1px solid fade_out($red, .5);
  font-family: "Courier New", Courier, monospace;
}

del, .del, .delete{
  text-decoration: line-through;
}

h1, .h1 {
  font-size: 2em;

  @each $breakpoint, $size in (md: 2.5em, lg: 3em) {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $size;
    }
  }
}

h2, .h2 {
  font-size: 1.625em;

  @each $breakpoint, $size in (md: 2em, lg: 2.25em) {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $size;
    }
  }
}

h3, .h3 {
  font-size: 1.375em;

  @each $breakpoint, $size in (md: 1.5em, lg: 1.75em) {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      font-size: $size;
    }
  }
}

h4, .h4 { font-size: 1.125em; }
h5, .h5 { font-size: 1em; }
h6, .h6 { font-size: .8em; }

a{
  color: $blue;
  display: inline-block;
  text-decoration: none;

  &:hover, &:focus{
    color: darken($blue, 10%);
    text-decoration: none;
  }
}

p{ margin-bottom: 1rem; }
.lead{ font-size: 1.125em; }

small, .small{
  font-size: 12px;
  display: inline-block;
}
